# Nutrition Statistics

## Import libraries

In [49]:
import pandas as pd

## Read Excel File

In [50]:
df = pd.read_excel("Datos trabajo 1.xls")
df

     Grasas_sat  Alcohol  Calorías Sexo
0         14.60     0.03       910    F
1         11.82     0.05      1026    F
2         16.98     0.14      1033    F
3         14.04     0.38      1098    F
4         15.30     0.38      1122    F
..          ...      ...       ...  ...
168       46.36    32.64      2285    M
169       39.30    32.72      2300    M
170       34.14    37.28      2333    M
171      999.99    37.90      2334    M
172       40.59    40.11      2376    M

[173 rows x 4 columns]

## Column Names

In [51]:
SAT_FAT = "Grasas_sat"
ALCOHOL = "Alcohol"
CAL     = "Calorías"
SEX     = "Sexo"

## Rows Missing Values

In [52]:
MISSING_VAL = 999.99

In [53]:
rows_with_val           = lambda val, df : df[df.eq(val).any(axis=1)]
rows_with_missing_val   = lambda df      : rows_with_val(MISSING_VAL, df)

In [54]:
mv_df = rows_with_missing_val(df)
mv_df

     Grasas_sat  Alcohol  Calorías Sexo
21        36.31   999.99      1000    F
24        41.01   999.99       800    F
162       27.08   999.99      2054    M
171      999.99    37.90      2334    M

In [55]:
df

     Grasas_sat  Alcohol  Calorías Sexo
0         14.60     0.03       910    F
1         11.82     0.05      1026    F
2         16.98     0.14      1033    F
3         14.04     0.38      1098    F
4         15.30     0.38      1122    F
..          ...      ...       ...  ...
168       46.36    32.64      2285    M
169       39.30    32.72      2300    M
170       34.14    37.28      2333    M
171      999.99    37.90      2334    M
172       40.59    40.11      2376    M

[173 rows x 4 columns]

In [56]:
nm_df = df.drop(mv_df.index)
nm_df

     Grasas_sat  Alcohol  Calorías Sexo
0         14.60     0.03       910    F
1         11.82     0.05      1026    F
2         16.98     0.14      1033    F
3         14.04     0.38      1098    F
4         15.30     0.38      1122    F
..          ...      ...       ...  ...
167       45.31    31.26      2260    M
168       46.36    32.64      2285    M
169       39.30    32.72      2300    M
170       34.14    37.28      2333    M
172       40.59    40.11      2376    M

[169 rows x 4 columns]

In [57]:
rows_with_missing_val(nm_df)

Empty DataFrame
Columns: [Grasas_sat, Alcohol, Calorías, Sexo]
Index: []

## Numeric Variables

In [58]:
nm_df[[SAT_FAT, ALCOHOL, CAL]].mean()

Grasas_sat      24.596331
Alcohol          8.660000
Calorías      1585.443787
dtype: float64

In [59]:
nm_df[[SAT_FAT, ALCOHOL, CAL]].std()

Grasas_sat      6.405481
Alcohol         8.942674
Calorías      291.439242
dtype: float64